@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.1404 0.0227 245.8293);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1404 0.0227 245.8293);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1404 0.0227 245.8293);
  --primary: oklch(0.5117 0.0648 252.1624);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8987 0.007 247.9028);
  --secondary-foreground: oklch(0.3833 0.0201 254.0763);
  --muted: oklch(0.9534 0.0042 236.498);
  --muted-foreground: oklch(0.4307 0.0202 251.0687);
  --accent: oklch(0.8987 0.007 247.9028);
  --accent-foreground: oklch(0.3833 0.0201 254.0763);
  --destructive: oklch(0.5565 0.2142 29.7114);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.961 0.0029 264.5419);
  --input: oklch(0.961 0.0029 264.5419);
  --ring: oklch(0.5117 0.0648 252.1624);
  --chart-1: oklch(0.5117 0.0648 252.1624);
  --chart-2: oklch(0.8987 0.007 247.9028);
  --chart-3: oklch(0.8987 0.007 247.9028);
  --chart-4: oklch(0.9208 0.0063 255.477);
  --chart-5: oklch(0.5114 0.0705 252.018);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.2686 0 0);
  --sidebar-primary: oklch(0.5713 0.1241 248.4465);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5713 0.1241 248.4465);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.5713 0.1241 248.4465);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1261 0.0122 248.8686);
  --foreground: oklch(1 0 0);
  --card: oklch(0.1261 0.0122 248.8686);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.1261 0.0122 248.8686);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.5117 0.0648 252.1624);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2672 0.0086 255.5801);
  --secondary-foreground: oklch(0.8025 0.0101 252.8284);
  --muted: oklch(0.1676 0.0071 258.3717);
  --muted-foreground: oklch(0.7436 0.0176 250.893);
  --accent: oklch(0.2672 0.0086 255.5801);
  --accent-foreground: oklch(0.8025 0.0101 252.8284);
  --destructive: oklch(0.6482 0.2003 28.1997);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2454 0.0096 248.2205);
  --input: oklch(0.2454 0.0096 248.2205);
  --ring: oklch(0.5117 0.0648 252.1624);
  --chart-1: oklch(0.5117 0.0648 252.1624);
  --chart-2: oklch(0.2672 0.0086 255.5801);
  --chart-3: oklch(0.2672 0.0086 255.5801);
  --chart-4: oklch(0.2988 0.0092 248.1355);
  --chart-5: oklch(0.5114 0.0705 252.018);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.5713 0.1241 248.4465);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2144 0.0109 242.2662);
  --sidebar-accent-foreground: oklch(0.76 0.0243 246.1274);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.5713 0.1241 248.4465);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@utility container {
  @apply mx-auto;
  @apply px-4;
  @variant sm {
    @apply px-6;
  }
  @variant md {
    @apply px-8;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-file-content::-webkit-scrollbar {
  width: 0px;
}

.table-box > div::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

button,
a {
  transition: all 0.3s ease-in-out;
  &:active {
    transform: scale(0.98);
  }
}
